/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}


li:hover,
a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input  {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#edit {
	display: none;
	padding-top: 10px;
}

.portfolioHeader {
	display: flex;
	justify-content: center;
	gap: 15px;
}

#editMode {
	display: none;
	color: white;
	background-color: black;
	padding: 20px;
	font-family: 'Work Sans';
}

.modal {
	display: none;
	position: absolute;
	left: 25%;
	flex-direction: column;
	align-items: center;
	width: 40%;
	background-color: white;
	margin: 0;
	padding: 30px 50px;
	border-radius: 15px;
	z-index: 1;
}

#background{
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 0;
	max-width: 100%;
	width: 100%;
	height: 3000px;
	background-color: rgba(52, 45, 45, 0.5);
}

.topModal{
	display: flex;
	gap: 500px;
	align-items: center;
	justify-content: space-between;
}

.modal h2 {
	font-family: 'Work Sans';
	color: black;
	font-size: 26px;
	font-weight: 400;
}

.modalWorks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 25px 0px;
	padding-bottom: 50px;
	align-items: center;
	border-bottom: 1px solid;
	gap: 10px;
}

.trash{
	position: absolute;
	margin: 4px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 5px;
	padding: 3px 5px;
}

#close, #backBtn{
	background-color: white;
	border: none;
}

#addWorkBtn {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1em;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	padding: 10px;
	width: 230px;
	text-align: center;
	border: none;
	border-radius: 60px;
}

.deleteWorkPage{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.addWorkPage{
	display: none;
	flex-direction: column;
	gap: 20px;
}

.addWorkPage input[type='text'] {
	height: 50px;
	width: 100%;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.addWorkPage select{
	height: 50px;
	width: 100%;
	font-size: 1.2em;
	border: none;
}

.addImg{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 10px;
	padding: 40px;
	background-color: #E8F1F6;
}

.addImgForm{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.filters {
	display: flex;
	justify-content: center;
	margin: 40px;
	gap: 15px;
}

#filters {
	display: flex;
}

.filters button {
	font-family: 'Syne';
	font-size: 1.2em;
	font-weight: 500;
	color: #1D6154;
	border: solid 1px #1D6154;
	border-radius: 25px;
	padding: 10px 15px;
	background-color: white;
}

.filters button:hover {
	background-color: #1D6154;
	color: white;
}

#logout {
	display: none;
}